<img src="/image/test.jpg" class="card-img-top" height="300px" alt="...">
<div class="card-body bord">
  <div class="cartd-title fw-bold mb-3">
    <%= post.dataValues.title %>
  </div>
  <p class="card-text">
    <%= post.dataValues.contents %>
  </p>
</div>