<div class="modal fade" id="newpost">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>여행정보 작성</h5>
        <button type="button" class="btn-close close" data-bs-dismiss="modal"></button>
      </div>
      <form method="POST" action="/api/posts" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group form-floating mb-3">
            <select name="region" class="form-select" id="region" aria-label="Floating label select example" required>
              <option value="전체" selected>전체</option>
              <option value="F">F</option>
              <option value="T">T</option>
            </select>
            <label for="region">Works with selects</label>
          </div>
          <div class="form-group form-floating mb-3">
            <input name="title" class="form-control" id="title" placeholder="제목을 적어주세요." required />
            <label for="title">Title</label>
          </div>
          <div class="form-group form-floating mb-3">
            <textarea
              name="contents"
              class="form-control"
              placeholder="여행정보를 적어주세요."
              id="contents"
              style="height: 100px"
              required
            ></textarea>
            <label for="Post_contents">Contents</label>
          </div>
          <div class="form-group mt-1">
            <input class="form-control" type="file" name="image" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">생성하기</button>
        </div>
      </form>
    </div>
  </div>
</div>
